.header{
text-align: center;
}

.logo{
    margin-top: 30px;
    width: 200px;
}

.header nav{
    background-color: black;
    line-height: 50px;
}

.header nav a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: lightgray;
}